# Dependencies
node_modules/

# Build output
build/
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment (Ignored usually, but explicitly keeping it here as per user request to track setup)
# .env

# Editor stuff
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
